html {
    background-color: aqua;
}
#container {
    position: absolute;
    width: 1000px;
    height: 50%;
    text-align: center;
    margin: 100px auto;
    position: relative;   
    z-index: 0;
}
.face {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 156px;
    z-index: 997;
}
.hat{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 60px;
    z-index: 999;
    transition: .4s;
}
.nose{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 275px;
    z-index: 999;
}
.ear-left{
    position: absolute;
    left: 0;
    right: 277px;
    margin: 0 auto;
    top: 182px;
    z-index: 996;
    transition: .4s;
}
.ear-right{
    position: absolute;
    left: 277px;
    right: 0;
    margin: 0 auto;
    top: 182px;
    z-index: 996;
    transition: .4s;
}
.eye-left{
    position: absolute;
    left: 412px;
    right: 790px;
    top: 211px;
    z-index: 999;
}
.eye-right{
    position: absolute;
    left: 496px;
    right: 0px;
    top: 211px;
    z-index: 999;
}
.moustache{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 400px;
    z-index: 998;
}
.foot-left{
    position: absolute;
    left: 160px;
    right: 0;
    margin: 0 auto;
    top: 500px;
    z-index: 998;
    animation: caminarR 1s infinite;
}
.foot-right{
    position: absolute;
    left: 0;
    right: 160px;
    margin: 0 auto;
    top: 500px;
    z-index: 996;
    animation: caminarL 1s infinite;
}
.brain{
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 74px;
    z-index: 996;
}

#container:hover .hat{
    transform: translateY(-100px);
}

#container:hover .ear-left{
    transform: translateX(-50px)rotate(-360deg);
}

#container:hover .ear-right{
    transform: translateX(50px)rotate(360deg);
}
  
  @keyframes caminarR {
    0% {
        z-index: 998;
        transform: translateY(-5px);
    }
    100% {
        z-index: 996;
    }
  }


  @keyframes caminarL  {
    0% {
        z-index: 996;
    }
    100% {
        z-index: 998;
        transform: translateY(-5px);
    }
  }